body {
    font-family: MinecraftRegular;
  src: url(MinecraftRegular.otf);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: #619b9e;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

#features, #download, #contact {
    padding: 20px;
}

.btn {
    display: inline-block;
    background: #ff5733;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #e04524;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
}
